---
layout: post
category: Info
title: liberxue看过的书|最近在看的书|已读过的书|想看的书
date: 1970-01-01 00:00:00.000000000 +00:00
tags: liberxue, info
keywords: liberxue, book,liberxuebook,liberxue书籍
excerpt: liberxue看过的书|最近在看的书|已读过的书|想看的书
---

<link rel="stylesheet" type="text/css" href="css/style.css" />
<style>
.liberxuebook{width:160px; margin:40px auto 10px  70px}
@media only screen and (min-width: 420px) {
	.demo{width:100%; margin:60px auto 10px auto}
}
.box{float:left; width:280px; height:360px}
.clear{clear:both}
</style>

</head>

<body>
<div class="liberxuebook">

	<div class="box">
		<div class="he_border1">
			<img class="he_border1_img" src="images/pro_1.jpg" alt="Image 01">
			<div class="he_border1_caption">
				<h3 class="he_border1_caption_h">寻欢作乐</h3>
				<p class="he_border1_caption_p">毛姆书籍liberxue</p>
				<a class="he_border1_caption_a" href="#"></a>
			</div>
		</div>
	</div>
		<div class="box">
		<div class="he_border1">
			<img class="he_border1_img" src="images/pro_1.jpg" alt="Image 01">
			<div class="he_border1_caption">
				<h3 class="he_border1_caption_h">寻欢作乐</h3>
				<p class="he_border1_caption_p">毛姆书籍liberxue</p>
				<a class="he_border1_caption_a" href="#"></a>
			</div>
		</div>
	</div>	<div class="box">
		<div class="he_border1">
			<img class="he_border1_img" src="images/pro_1.jpg" alt="Image 01">
			<div class="he_border1_caption">
				<h3 class="he_border1_caption_h">寻欢作乐</h3>
				<p class="he_border1_caption_p">毛姆书籍liberxue</p>
				<a class="he_border1_caption_a" href="#"></a>
			</div>
		</div>
	</div>	<div class="box">
		<div class="he_border1">
			<img class="he_border1_img" src="images/pro_1.jpg" alt="Image 01">
			<div class="he_border1_caption">
				<h3 class="he_border1_caption_h">寻欢作乐</h3>
				<p class="he_border1_caption_p">毛姆书籍liberxue</p>
				<a class="he_border1_caption_a" href="#"></a>
			</div>
		</div>
	</div>	<div class="box">
		<div class="he_border1">
			<img class="he_border1_img" src="images/pro_1.jpg" alt="Image 01">
			<div class="he_border1_caption">
				<h3 class="he_border1_caption_h">寻欢作乐</h3>
				<p class="he_border1_caption_p">毛姆书籍liberxue</p>
				<a class="he_border1_caption_a" href="#"></a>
			</div>
		</div>
	</div>	<div class="box">
		<div class="he_border1">
			<img class="he_border1_img" src="images/pro_1.jpg" alt="Image 01">
			<div class="he_border1_caption">
				<h3 class="he_border1_caption_h">寻欢作乐</h3>
				<p class="he_border1_caption_p">毛姆书籍liberxue</p>
				<a class="he_border1_caption_a" href="#"></a>
			</div>
		</div>
	</div>	<div class="box">
		<div class="he_border1">
			<img class="he_border1_img" src="images/pro_1.jpg" alt="Image 01">
			<div class="he_border1_caption">
				<h3 class="he_border1_caption_h">寻欢作乐</h3>
				<p class="he_border1_caption_p">毛姆书籍liberxue</p>
				<a class="he_border1_caption_a" href="#"></a>
			</div>
		</div>
	</div>	<div class="box">
		<div class="he_border1">
			<img class="he_border1_img" src="images/pro_1.jpg" alt="Image 01">
			<div class="he_border1_caption">
				<h3 class="he_border1_caption_h">寻欢作乐</h3>
				<p class="he_border1_caption_p">毛姆书籍liberxue</p>
				<a class="he_border1_caption_a" href="#"></a>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	
</div>
</body>
</html>
{% for post in site.posts%} 
 {% if post.book%}
 <ul>
 <li class="wow fadeInLeft" data-wow-duration="1.5s">
<a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
 <p>{{ post.date}}</p>
<p>{{ post.excerpt }}</p>
<a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">查看全文</a>
 <hr class="hr-line">
</li>
</ul>
 {% endif %}
{% endfor %}