---
layout: post
category: Info
title: liberxue走过的路|旅游过的地方
date: 1970-01-01 00:00:00.000000000 +00:00
tags: liberxue, info
keywords: liberxue, liberxueblog,
excerpt: liberxue走过的路|旅游过的地方
---




{% for post in site.posts%} 
 {% if post.road%}
 <ul>
 <li class="wow fadeInLeft" data-wow-duration="1.5s">
<a class="zoombtn" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
 <p>{{ post.date}}</p>
<p>{{ post.excerpt }}</p>
<a href="{{ site.url }}{{ post.url }}" class="btn zoombtn">查看全文</a>
 <hr class="hr-line">
</li>
</ul>
 {% endif %}
{% endfor %}