nav {
  display: inline-block;
  position: relative;
}

.navigation {
  display: inline-block;
  float: left;
  position: relative;
  margin: 0;
  list-style-type: none;
}

  .navigation__item {
    display: inline-block;
    margin: 5px 1px 0 0;
    line-height: 1em;

    // a {
    //   display: block;
    //   position: relative;
    //   @extend .btn;
    //   border-color: #FFF;
    //   color: #FFF;
    //   opacity: .8;

    //   &:hover {
    //     color: #FFF;
    //     border-color: #FFF;
    //     opacity: 1;
    //   }

   a {
	color:$brand-color;
  @extend .btn;
  opacity: .8;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

a::before {
	color: $text-color;
   opacity: .8;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

a:hover::before,
a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}

  }

  .navigation--social {
    a {
      border: 0px;
      padding: 6px 8px 6px 9px;

      .label {
        display: none;
      }

      .icon {
        display: block;
        font-size: 1.7em;
      }

    }

  }