// ------------------------------
// PAGINATION
// ------------------------------

.pagination {
  display: block;
  margin: 0 0 4em 0;
  text-align: center;
}

  .pagination__page-number {
    margin: 0;
    font-size: .8em;
    color: $gray-dark;
      a {
	color:$brand-color;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

a::before {
	color: $text-color;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

a:hover::before,
a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
  }

  .pagination__newer {
    margin-right: 1em;
  }

  .pagination__older {
    margin-left: 1em;
  }