// ------------------------------
// POST LIST
// ------------------------------

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;

  li {
    margin: 0 0 2.2em 0;

    &:last-child {

      hr {
        display: none;
      }

    }

  }

}

  .post-list__post-title {
    margin-top: 0;
    margin-bottom: .2em;
    font-size: 1.5em;
    line-height: 1.3em;
  a {
	color:$brand-color;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

a::before {
	color: $text-color;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

a:hover::before,
a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
  }

  .post-list__meta {
    display: block;
    margin: .7em 0 0 0;
    font-size: .9em;
    color: darken($gray, 2%);
  a {
	color:$brand-color;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

a::before {
	color: $text-color;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

a:hover::before,
a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}
  }

    .post-list__meta--date {
      margin-right: .5em;
      color: darken($gray, 2%);
    }

    .post-list__meta--tags {
      margin-left: .5em;
    }

  .post-list__divider {
    width: 100%;
    margin: 2.2em 0 2.1em 0;
    border-top: 1px solid $gray-light;
  }